header {
  background-color: bisque;
height: 50px;
padding-top: 20px;
}

nav {
  background-color: rgb(37, 151, 245);
  padding-top: 100px;
  height: 700px;
}

.navi {
  background-color: rgb(163, 230, 241);
  padding-top: 100px;
  height: 400px;
}

button {
  
  margin-left: 20px;
  margin-right: 20px;
}
